/*
Colors used:
Primary Color (Orange): #ff6127;
Secondary Color (Grey): #4a4a4a;
*/

/* || SITEWIDE */
* {
  box-sizing: border-box;
}

#header {
  position: fixed;
  background-color: white;
  text-align: center;
  padding: 0px;
  width: 100%;
  border-bottom: 0px solid;
  top: 0;
}

body {
  background-color: white;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}


/* || Work Page */
#hero {
  background-color: #ffffff;
  color: #333333;
  padding: 80px 50px 20px;
  text-align: center;
}

#casestudy {
  text-align: left;
}


/* || About Page */
#heroaboutme {
  padding: 100px 60px 10px;
  text-align: center;
}

#aboutme {
  text-align: left;
}

#hero h1 {
  text-align: center;
}

#heroaboutme h2 {
  text-align: center;
}


/* typography */

h1 {
  line-height: 1;
  font-size: 5em;
  font-weight: 700;
}

h2,
h3,
h4 {
  line-height: 1.4;
}

h2 {
  font-size: 1.45em;
  font-weight: 300;
}

h3 {
  font-size: 1.00em;
  font-weight: 300;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* navigation */

nav {
  text-align: center;
}

nav>ul>li>a {
  color: #6a6969;
  text-decoration: none;
}

nav>ul>li>a:hover,
a:focus {
  color: #ff6127;
  text-decoration: underline;
}

nav>ul>li>a:visited {
  color: #6a6969;
}

nav>ul>li>a:active {
  color: #ff6127;
}

nav>ul {
  display: inline-block;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: capitalize;
  font-weight: 600;
  color: #6a6969;
}

/* hamburger menu */
.navtoggle li:not(:last-child) {
  display: none;
  padding: 20px 0;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 30px;
}

.navtoggle.responsive li {
  display: block;
  padding: 20px 0;
  border-top: 1px solid rgb(229, 78, 23);
}


/* button */

.button {
  display: inline-block;
  background-color: #ffffff;
  color: #333333; /* needed to override the default link color */
  font-size: medium;
  font-weight: 400;
  text-align: center;
  padding: 5px 0px 0px 15px;
  border-radius: 0px;
  border-bottom: 0px solid #ffffff;
  transition: 0.8s opacity;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  opacity: 0.7;
  text-decoration: none;
}

.button.contact {
  background-color: #002dea;
  color: white;
  text-transform: none;
  border: 0px solid white;
}

.button.contact:hover {
  background-color: white;
  color: #002dea;
  border: 1px solid #002dea;
}

.button.contact:active {
  background-color: white;
  color: white;
}

img {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;

}

/* LAYOUT STYLING */

.container {
  padding: 0px 60px 0px;
}

.row {
  margin: 10px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


[class*="col-"] {
  float: left;
  padding: 0px 10px;
}

/* Adjust the footer style */
footer {
  display: bottom;
  justify-content: center;
  align-items: center;
  height: 100px; /* Set a fixed height or adjust as needed */
  background-color: #ffffff;
  padding: 50px 0px 10px 10px;
}

#footer {
  text-align: center;
  font-size: x-small;
}


/* MEDIA QUERIES */

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .col-md-6 {
    width: 50%;
  }

  /* Navigation*/
  nav {
    width: auto;
    float: center;
    margin-top: 4px;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}