* {
  box-sizing: border-box;
}


/* || GENERAL STYLES */
/* || SITEWIDE */

#header {
  position: fixed;
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  width: 100%;
  border-bottom: 2px solid #BEBEBE;
}

body {
  background-color: white;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

nav > ul > li > a {
  color: #BBBBBB;
  text-decoration: none; 
}
nav > ul > li > a:hover, a:focus {
  color: #ff7f50;
  text-decoration: underline; 
}
nav > ul > li > a:visited { 
  color: #ff7f50;
}
nav > ul > li > a:active { 
  color: #000000;
}

.button {
  display: inline-block; 
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 20px;
  border-bottom: 2px solid #994c30; 
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity */
  text-decoration: none;
}
.button:active {
  opacity: 0.7; 
  text-decoration: none;
}

.button.contact {
  background-color: #002dea;
  color: white;
  text-transform: none;
  border: 0px solid white;
}
.button.contact:hover {
  background-color: #EBEBEB;
  color: #002dea;
  border: 1px solid #002dea;
}
.button.contact:active {
  background-color: #002dea;
  color: #ffffff;
}



img {
    width: 100%;
  }



/* LAYOUT STYLING */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; 
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h1, h3 {
  text-align: center; 
}
#footer  {
  text-align: center; 
}

#hero {
  background-color: #ffffff;
  padding: 60px 0px 0px 0px;
  display: inline-block;
  margin: 10px
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}